<tr id="domain_{{ domain.tld }}" class="btn-row">
    <td class="fw-semibold"><a href="{{ app.request.scheme }}://{{ domain.tld }}" class="text-white">{{ domain.tld }}</a></td>
    <td>
        {% for subdomain in domain.subdomains %}
            <a href="{{ path('symfonicat_subdomain_edit', {'id': subdomain.id}) }}" class="text-white">{{ subdomain.affix }}</a>{% if not loop.last %}, {% endif %}
        {% else %}
            <i class="fa fa-fw fa-times"></i>
        {% endfor %}
    </td>
    <td>{% if domain.catch %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-fw fa-times"></i>{% endif %}</td>
    <td>{% if domain.parcel %}<code>{{ domain.parcel.id }}</code>{% else %}<i class="fa fa-fw fa-times"></i>{% endif %}</td>
    <td>
        {% for middleware in domain.middlewares %}
            <div><code>{{ middleware.id }}</code></div>
        {% else %}
            <i class="fa fa-fw fa-times"></i>
        {% endfor %}
    </td>
    <td>
        {% set groups = {} %}
        {% for module in domain.modules %}
            {% set parts = (module.id | split('/')) %}
            {% set tail = parts | last %}
            {% set groupKey = module.package ? (module.vendor ~ '/' ~ module.package) : module.vendor %}
            {% if groups[groupKey] is defined %}
                {% set groups = groups | merge({ (groupKey): groups[groupKey] | merge([tail]) }) %}
            {% else %}
                {% set groups = groups | merge({ (groupKey): [tail] }) %}
            {% endif %}
        {% else %}
            {% set groups = {} %}
        {% endfor %}

        {% if groups is empty %}
            <i class="fa fa-fw fa-times"></i>
        {% else %}
            {% for g, tails in groups %}
                <b>{{ g }}:</b>&nbsp;&nbsp;<code>{{ tails | join(', ') }}</code>{% if not loop.last %}<br />{% endif %}
            {% endfor %}
        {% endif %}
    </td>
    {% for env_parent in env_parents %}
        <td>
            {% set entries = env_parent_entries(domain.env, env_parent) %}
            {% for entry in entries %}
                <div><code>{{ entry }}</code></div>
            {% else %}
                <i class="fa fa-fw fa-times"></i>
            {% endfor %}
        </td>
    {% endfor %}
    <td class="text-end btn-cell">

        <div class="btn-group btn-group-sm">
            <a href="{{ path('symfonicat_domain_edit', {'id': domain.tld}) }}" class="btn btn-sm btn-warning">
                <i class="fa fa-pencil">&nbsp;</i>
            </a>
            {{ include('@symfonicat/domain/_delete_form.html.twig') }}
        </div>

    </td>
</tr>
