{{ form_start(form, {
    attr: {
        'data-controller': 'multifield'
    }
}) }}

{% if form.id is defined %}
    {{ form_row(form.id, {
        label: 'endpoint'
    }) }}
{% else %}
    <h3 class="">{{ endpoint.id }}</h3>
{% endif %}

<hr />

<div class="row g-3">
    <div class="col-md-6">

        <div class="row g-3">
            <div class="col-md-6">
                
                {{ form_row(form.parcel) }}
                {{ form_row(form.catch) }}

            </div>
            <div class="col-md-6">

                {% if form.arguments is defined %}
                    {% set argument_prototype %}
                        <div data-multifield-item>
                            <div class="input-group input-group-sm">
                                {{ form_widget(form.arguments.vars.prototype) }}
                                <button
                                    type="button"
                                    class="btn btn-outline-danger"
                                    data-action="click->multifield#remove"
                                >remove</button>
                            </div>
                        </div>
                    {% endset %}

                    <div class="row g-3">
                        <div class="col-md-12">
                            <div class="mb-3">
                                {{ form_label(form.arguments) }}
                                {{ form_errors(form.arguments) }}

                                <div
                                    class="d-grid gap-2 mt-2"
                                    data-multifield-target="collection"
                                    data-multifield-index="{{ form.arguments|length }}"
                                >
                                    <div class="d-grid gap-2" data-multifield-target="items">
                                        {% for argument_form in form.arguments %}
                                            <div data-multifield-item>
                                                <div class="input-group input-group-sm">
                                                    {{ form_widget(argument_form) }}
                                                    <button
                                                        type="button"
                                                        class="btn btn-outline-danger"
                                                        data-action="click->multifield#remove"
                                                    >remove</button>
                                                </div>
                                                {{ form_errors(argument_form) }}
                                            </div>
                                        {% endfor %}
                                    </div>

                                    <template data-multifield-target="prototype">{{ argument_prototype|raw }}</template>

                                    <button
                                        type="button"
                                        class="btn btn-sm btn-outline-secondary align-self-start"
                                        data-action="click->multifield#add"
                                    >add argument</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>

    <hr />

    <div class="row g-3">
        <div class="col-md-4">
            {{ form_row(form.modules) }}
        </div>
        <div class="col-md-4">
            {{ include('@symfonicat/middleware/_collection.html.twig', { form: form.middlewares }) }}
        </div>
    </div>
    <div class="row g-3">
        <div class="col-md-8">
            {{ include('@symfonicat/env/_env_collection.html.twig', { form: form.env }) }}
        </div>
    </div>

</div>



{% if form._token is defined %}
    {{ form_widget(form._token) }}
{% endif %}

<div class="d-flex justify-content-end">
    <button class="btn btn-sm btn-success">{{ button_label|default('save') }}</button>
</div>

{{ form_end(form, { render_rest: false }) }}
