<tr id="electron_{{ electron.id(false) }}" class="btn-row">
    <td class="fw-semibold">{{ electron.name }}</td>
    <td>{{ electron.type }}</td>
    <td><b>{% if electron.domain %}{{ electron.domain.id(false) }}{% else %}<i class="fa fa-fw fa-times"></i>{% endif %}</b></td>
    <td><b>{% if electron.project %}{{ electron.project.id }}{% else %}<i class="fa fa-fw fa-times"></i>{% endif %}</b></td>
    {% for env_parent in env_parents %}
        <td>
            {% set entries = env_parent_entries(electron.env, env_parent) %}
            {% for entry in entries %}
                <div><code>{{ entry }}</code></div>
            {% else %}
                <i class="fa fa-fw fa-times"></i>
            {% endfor %}
        </td>
    {% endfor %}
    <td class="text-end btn-cell">
        <div class="btn-group btn-group-sm">
            <a href="{{ path('symfonicat_electron_edit', { id: electron.id }) }}" class="btn btn-sm btn-warning">
                <i class="fa fa-pencil">&nbsp;</i>
            </a>
            {{ include('@symfonicat/electron/_delete_form.html.twig') }}
        </div>
    </td>
</tr>
