<tr id="application_{{ application.id }}" class="btn-row">
    <td><a href="{{ path('app_application_edit', {'id': application.id}) }}">{{ application.id }}</a></td>
    <td>
        {% for module in application.modules %}
            {{ module.name }}{% if not loop.last %}, {% endif %}
        {% else %}
            -
        {% endfor %}
    </td>
    <td class="text-end btn-cell">
        <div class="btn-group btn-group-sm">
            <a href="{{ path('app_application_edit', {'id': application.id}) }}" class="btn btn-sm btn-warning">
                <i class="fa fa-pencil">&nbsp;</i>
            </a>
        </div>
    </td>
</tr>
