<tr id="application_{{ application.id }}" class="btn-row">
    <td class="fw-semibold"><a href="{{ path('symfonicat_application_edit', {'id': application.id(true)}) }}">{{ application.id }}</a></td>
    <td>
        {% for module in application.modules %}
            {{ module.name }}{% if not loop.last %}, {% endif %}
        {% else %}
            -
        {% endfor %}
    </td>
    {% for env_parent in env_parents %}
        <td>
            {% set entries = env_parent_entries(application.env, env_parent) %}
            {% for entry in entries %}
                <div><code>{{ entry }}</code></div>
            {% else %}
                <span class="text-body-secondary">-</span>
            {% endfor %}
        </td>
    {% endfor %}
    <td class="text-end btn-cell">
        <div class="btn-group btn-group-sm">
            <a href="{{ path('symfonicat_application_edit', {'id': application.id(true)}) }}" class="btn btn-sm btn-warning">
                <i class="fa fa-pencil">&nbsp;</i>
            </a>
        </div>
    </td>
</tr>
