{% extends 'admin/base.html.twig' %}
{% block title %}Application{% endblock %}
{% block body %}

    <h6>
        {{ application.id }}

        &nbsp;

        <div class="btn-group btn-group-sm">
            <a href="{{ path('app_application_edit', {'id': application.id}) }}" class="btn btn-sm btn-warning">
                <i class="fa fa-pencil">&nbsp;</i>
            </a>
            {{ include('admin/application/_delete_form.html.twig') }}
        </div>
    </h6>

    <dl class="row">
        <dt class="col-sm-2">id</dt>
        <dd class="col-sm-10">{{ application.id }}</dd>

        <dt class="col-sm-2">modules</dt>
        <dd class="col-sm-10">
            {% for module in application.modules %}
                {{ module.name }}{% if not loop.last %}, {% endif %}
            {% else %}
                -
            {% endfor %}
        </dd>

        <dt class="col-sm-2">env</dt>
        <dd class="col-sm-10">
            {% for item in application.env %}
                {{ item.env ? item.env.id : '-' }}={{ item.value }}{% if not loop.last %}<br>{% endif %}
            {% else %}
                -
            {% endfor %}
        </dd>
    </dl>

{% endblock %}
