{% extends 'base.html.twig' %}
{% block title %}Main Application Router{% endblock %}

{% block stylesheets -%}

    {{- parent() -}}
    {% for module in application.modules -%}
        {{- encore_entry_link_tags_module(module) | indent_links(8) -}}
    {%- endfor %}

    {{- encore_entry_link_tags_application(application) | indent_links(8) -}}

{%- endblock %}

{% block javascripts -%}

    {{- parent() -}}
    {% for module in application.modules -%}
        {{- encore_entry_script_tags_module(module) | indent_scripts(8) -}}
    {%- endfor %}

    {{- encore_entry_script_tags_application(application) | indent_scripts(8) -}}

{%- endblock %}

{% block body %}

    <main id="root">
    </main>

    {{ application.id }}

    <br />

    color: {{ env.color|default('') }}

{% endblock %}
