<tr id="routing_rule_{{ rule.id }}" class="btn-row">
    <td>{{ rule.type }}</td>
    <td><a href="{{ path_application(rule.application.id) }}">{{ rule.argumentsPath ?: '-' }}</a></td>
    <td>
        {% if rule.type == 'domain' %}
            domain: {{ rule.domain ? rule.domain.id : '-' }}
        {% elseif rule.type == 'project' %}
            project: {{ rule.project ? rule.project.id ~ ' ' ~ rule.project.name : '-' }}
        {% elseif rule.type == 'application' %}
            application: <a href="{{ path_application(rule.application.id) }}">{{ rule.application ? rule.application.id : '-' }}</a>
        {% elseif rule.type == 'redirect' %}
            {{ rule.redirectType }}: {{ rule.domain ? rule.domain.id : (rule.project ? rule.project.name : '-') }}
        {% else %}
            {{ rule.routeType }}: {{ rule.domain ? rule.domain.id : (rule.project ? rule.project.id ~ ' ' ~ rule.project.name : '-') }}
        {% endif %}
    </td>
    <td>
        {% if rule.type == 'domain' %}
            force domain shell
        {% elseif rule.type == 'project' %}
            bypass project catch-all
        {% elseif rule.type == 'application' %}
            render application shell
        {% elseif rule.type == 'redirect' %}
            {{ rule.redirectTarget }}: {{ rule.redirectDomain ? rule.redirectDomain.id : (rule.redirectProject ? rule.redirectProject.id ~ ' ' ~ rule.redirectProject.name : '-') }}
        {% else %}
            {{ rule.route ?: '-' }}
        {% endif %}
    </td>
    <td class="text-end btn-cell">
        <div class="btn-group btn-group-sm">
            <a href="{{ path('app_routing_rule_edit', {'id': rule.id}) }}" class="btn btn-sm btn-warning">
                <i class="fa fa-pencil">&nbsp;</i>
            </a>
            {{ include('admin/routing_rule/_delete_form.html.twig') }}
        </div>
    </td>
</tr>
