{% extends 'admin/base.html.twig' %}
{% block title %}Routing Rule{% endblock %}
{% block body %}

    <h6>
        {{ rule.argumentsPath ?: '-' }}

        &nbsp;

        <div class="btn-group btn-group-sm">

            <a href="{{ path('app_routing_rule_edit', {'id': rule.id}) }}" class="btn btn-sm btn-warning">
                <i class="fa fa-pencil">&nbsp;</i>
            </a>
            {{ include('admin/routing_rule/_delete_form.html.twig') }}

        </div>

    </h6>

    <dl class="row">
        <dt class="col-sm-2">type</dt>
        <dd class="col-sm-10">{{ rule.type }}</dd>

        <dt class="col-sm-2">arguments</dt>
        <dd class="col-sm-10">{{ rule.argumentsPath ?: '-' }}</dd>

        {% if rule.type == 'domain' %}
            <dt class="col-sm-2">domain</dt>
            <dd class="col-sm-10">{{ rule.domain ? rule.domain.id : '-' }}</dd>
        {% elseif rule.type == 'project' %}
            <dt class="col-sm-2">project</dt>
            <dd class="col-sm-10">{{ rule.project ? rule.project.id ~ ' ' ~ rule.project.name : '-' }}</dd>
        {% elseif rule.type == 'application' %}
            <dt class="col-sm-2">application</dt>
            <dd class="col-sm-10">{{ rule.application ? rule.application.id : '-' }}</dd>
        {% elseif rule.type == 'redirect' %}
            <dt class="col-sm-2">redirect type</dt>
            <dd class="col-sm-10">{{ rule.redirectType }}</dd>

            <dt class="col-sm-2">domain</dt>
            <dd class="col-sm-10">{{ rule.domain ? rule.domain.id : '-' }}</dd>

            <dt class="col-sm-2">project</dt>
            <dd class="col-sm-10">{{ rule.project ? rule.project.id ~ ' ' ~ rule.project.name : '-' }}</dd>

            <dt class="col-sm-2">redirect target</dt>
            <dd class="col-sm-10">{{ rule.redirectTarget }}</dd>

            <dt class="col-sm-2">redirect domain</dt>
            <dd class="col-sm-10">{{ rule.redirectDomain ? rule.redirectDomain.id : '-' }}</dd>

            <dt class="col-sm-2">redirect project</dt>
            <dd class="col-sm-10">{{ rule.redirectProject ? rule.redirectProject.id ~ ' ' ~ rule.redirectProject.name : '-' }}</dd>
        {% else %}
            <dt class="col-sm-2">route type</dt>
            <dd class="col-sm-10">{{ rule.routeType }}</dd>

            <dt class="col-sm-2">domain</dt>
            <dd class="col-sm-10">{{ rule.domain ? rule.domain.id : '-' }}</dd>

            <dt class="col-sm-2">project</dt>
            <dd class="col-sm-10">{{ rule.project ? rule.project.id ~ ' ' ~ rule.project.name : '-' }}</dd>

            <dt class="col-sm-2">route</dt>
            <dd class="col-sm-10">{{ rule.route ?: '-' }}</dd>
        {% endif %}
    </dl>

    <hr />

{% endblock %}
