{% extends 'admin/base.html.twig' %}
{% block title %}Routing Rule{% endblock %}
{% block body %}

    <h6>
        {{ rule.argument }}

        &nbsp;

        <div class="btn-group btn-group-sm">

            <a href="{{ path('app_routing_rule_edit', {'id': rule.id}) }}" class="btn btn-sm btn-warning">
                <i class="fa fa-pencil">&nbsp;</i>
            </a>
            {{ include('admin/routing_rule/_delete_form.html.twig') }}

        </div>

    </h6>

    <dl class="row">
        <dt class="col-sm-2">type</dt>
        <dd class="col-sm-10">{{ rule.type }}</dd>

        <dt class="col-sm-2">domain</dt>
        <dd class="col-sm-10">{{ rule.domain ? rule.domain.id : '-' }}</dd>

        <dt class="col-sm-2">project</dt>
        <dd class="col-sm-10">{{ rule.project ? rule.project.name : '-' }}</dd>
    </dl>

    <hr />

{% endblock %}
