{{ form_start(form) }}

<div class="d-flex align-items-start justify-content-between gap-3">
    <div class="me-auto">
        {{ form_row(form.id) }}
        {{ form_row(form.class) }}
    </div>
    <button class="btn btn-sm btn-success ms-auto">{{ button_label|default('save') }}</button>
</div>

{% if form._token is defined %}
    {{ form_widget(form._token) }}
{% endif %}

{{ form_end(form, { render_rest: false }) }}
