<tr id="parcel_{{ parcel.id(false)|replace({'/': '_'}) }}" class="btn-row">
    <td class="fw-semibold">{{ parcel.id }}</td>
    <td><code>{{ parcel.path }}</code></td>
    {% for env_parent in env_parents %}
        <td>
            {% set entries = env_parent_entries(parcel.env, env_parent) %}
            {% for entry in entries %}
                <div><code>{{ entry }}</code></div>
            {% else %}
                <i class="fa fa-fw fa-times"></i>
            {% endfor %}
        </td>
    {% endfor %}
    <td class="text-end btn-cell">
        <div class="btn-group btn-group-sm">
            <a href="{{ path('symfonicat_parcel_edit', { id: parcel.id }) }}" class="btn btn-sm btn-warning">
                <i class="fa fa-pencil">&nbsp;</i>
            </a>
        </div>
    </td>
</tr>
