<tr id="parcel_{{ parcel.id(false)|replace({'/': '_'}) }}" class="btn-row">
    {% set parcel_parts = parcel.id|split('/') %}
    {% set parcel_base = parcel_parts|last %}
    {% set parcel_bucket = parcel_parts|slice(0, -1)|join('/') %}
    <td class="fw-semibold text-end">{{ parcel_bucket }}</td>
    <td class="fw-semibold text-center"><i class="fa fa-angle-right"></i></td>
    <td>{{ parcel_base }}</td>
    <td><code>{{ parcel.path }}</code></td>
    {% for env_parent in env_parents %}
        <td>
            {% set entries = env_parent_entries(parcel.env, env_parent) %}
            {% for entry in entries %}
                <div><code>{{ entry }}</code></div>
            {% else %}
                <i class="fa fa-fw fa-times"></i>
            {% endfor %}
        </td>
    {% endfor %}
    <td class="text-end btn-cell">
        <div class="btn-group btn-group-sm">
            <a href="{{ path('symfonicat_parcel_edit', { id: parcel.id }) }}" class="btn btn-sm btn-warning">
                <i class="fa fa-pencil">&nbsp;</i>
            </a>
        </div>
    </td>
</tr>
