{% set prototype_markup %}
    {{ include('admin/env/_env_collection_item.html.twig', { item_form: form.vars.prototype }) }}
{% endset %}

<div class="mb-3">
    {{ form_label(form, null, {
        label_attr: {
            class: 'pt-0'
        }
    }) }}
    {{ form_errors(form) }}

    <div
        class="d-grid gap-2"
        data-controller="env-collection"
        data-env-collection
        data-env-collection-index-value="{{ form|length }}"
    >
        <div class="d-grid gap-2" data-env-collection-target="items">
            {% for item_form in form %}
                {{ include('admin/env/_env_collection_item.html.twig', { item_form: item_form }) }}
            {% endfor %}
        </div>

        <template data-env-collection-target="prototype">{{ prototype_markup|raw }}</template>

        <button type="button" class="btn btn-sm btn-outline-secondary align-self-start" data-action="env-collection#add">add env</button>
    </div>
</div>
