{% extends 'admin/base.html.twig' %}
{% block title %}Env{% endblock %}
{% block body %}

    <div class="row g-4">
        <div class="col-lg-6">
            <div class="card h-100">
                <div class="card-header">env parents</div>
                <div class="card-body">
                    <table class="table table-sm align-middle mb-4" id="env-parent">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th class="text-end">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody id="env-parent-body">
                        {% for env_parent in env_parents %}
                            {{ include('admin/env_parent/_row.html.twig') }}
                        {% else %}
                            <tr id="env-parent-empty">
                                <td colspan="2">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    {{ form_start(env_parent_form) }}
                        {{ form_widget(env_parent_form) }}
                        <button class="btn btn-sm btn-success">create env parent</button>
                    {{ form_end(env_parent_form) }}
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card h-100">
                <div class="card-header">env</div>
                <div class="card-body">
                    <table class="table table-sm align-middle mb-4" id="env">
                        <thead>
                            <tr>
                                <th>env parent</th>
                                <th>env</th>
                                <th class="text-end">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody id="env-body">
                        {% for env in envs %}
                            {{ include('admin/env/_row.html.twig') }}
                        {% else %}
                            <tr id="env-empty">
                                <td colspan="3">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    {{ form_start(env_form) }}
                        <div class="row g-3">
                            <div class="col-md-6">
                                {{ form_row(env_form.envParent) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(env_form.id) }}
                            </div>
                            <div class="col-12 mt-0">
                                <button class="btn btn-sm btn-success">create env</button>
                            </div>
                        </div>
                    {{ form_end(env_form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
