{% extends 'base.html.twig' %}
{% block title %}Main Project Router{% endblock %}

{% block stylesheets -%}

    {{- parent() -}}
    {% for module in project.modules -%}
        {{- encore_entry_link_tags_module(module) | indent_links(8) -}}
    {%- endfor %}

    {{- encore_entry_link_tags_project(project) | indent_links(8) -}}

{%- endblock %}

{% block javascripts -%}

    {{- parent() -}}
    {% for module in project.modules -%}
        {{- encore_entry_script_tags_module(module) | indent_scripts(8) -}}
    {%- endfor %}

    {{- encore_entry_script_tags_project(project) | indent_scripts(8) -}}

{%- endblock %}

{% block body %}

    <main id="root">
    </main>
    
    {{ project.name }}

    <br />

    color: {{ env.color|default('') }}

{% endblock %}
