{{ form_start(form, {
    attr: {
        'data-controller': 'route-override-form'
    }
}) }}

<div class="row g-3">

    <div class="col-md-6">
        {{ form_row(form.id) }}
    </div>

    <div class="col-md-6">
        {{ form_row(form.redirectDomain) }}
    </div>

</div>

{{ form_row(form.routeOverride, {
    attr: {
        'data-action': 'change->route-override-form#update',
        'data-route-override-form-target': 'toggle'
    }
}) }}
{{ form_row(form.routeName, {
    row_attr: {
        'data-route-override-form-target': 'routeNameRow'
    }
}) }}

<div class="row g-3">

    <div class="col-md-3">
        {{ form_row(form.projects) }}
    </div>

    <div class="col-md-3">
        {{ form_row(form.modules) }}
    </div>

    <div class="col-md-6">
        {{ include('admin/env/_env_collection.html.twig', { form: form.env }) }}
    </div>

</div>

{% if form._token is defined %}
    {{ form_widget(form._token) }}
{% endif %}

<div class="d-flex justify-content-end">
    <button class="btn btn-sm btn-success">{{ button_label|default('save') }}</button>
</div>

{{ form_end(form, { render_rest: false }) }}
